<div class="container mt-3">
    <div class="row">
        <div class="col-md-6">

            <!-- bootstrap FORM -->
            <h2>Form Ubah Contact</h2>

            <!-- check erro -->
            <% if (typeof errors !=='undefined' ) { %>
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <%errors.forEach(error=> { %>
                            <li>
                                <%= error.msg %>
                            </li>
                            <% }) %>

                    </ul>
                </div>
                    <% } %>
                    <!-- ubah contact / update -->

                        <form method="post" action="/contact/update">
                            <div class="mb-3">

                                <!-- hidden -->
                                <input type="hidden" name="oldNama"value="<%=(contact.oldNama)? contact.oldNama : contact.nama %>"> 

                                <label for="nama" class="form-label">Nama</label>
                                <input type="text" class="form-control" id="nama" name="nama" required value="<%=contact.nama %>"/>
                            </div>

                            <form method="post" action="/contact">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required value="<%=contact.email %>" />
                                </div>

                                <form method="post" action="/contact">
                                    <div class="mb-3">
                                        <label for="nohp" class="form-label">No HP</label>
                                        <input type="text" class="form-control" id="email" name="nohp" required value="<%=contact.nohp %>" />
                                    </div>



                                    <button type="submit" class="btn btn-primary">ubah Data Contact</button>
                                </form>
                </div>
        </div>
    </div>